.tright {
  text-align: right;
}

#sourcePercent {
	font-weight: bold
}

.hdrlabel {
  width: 25%;
}

#editFSbox {
  width: 450px;
  height: 225px;
  display: flex;
  overflow: auto;  
}

#editFSarea {
  width: 100%;
  height: auto;
}

#HTLdialog1new {
  padding-bottom: 5px;
}